@font-face {
    font-family: "always-in-my-heart";
    src: url("/static/fonts/always-in-my-heart.ttf");
}

@font-face {
    font-family: "cityb";
    src: url("/static/fonts/cityb.ttf");
}

@font-face {
    font-family: "cosmopolitan-script-regular";
    src: url("/static/fonts/cosmopolitan-script-regular.otf");
}

@font-face {
    font-family: "freescpt";
    src: url("/static/fonts/freescpt.ttf");
}

@font-face {
    font-family: "hamilton";
    src: url("/static/fonts/hamilton.ttf");
}

@font-face {
    font-family: "las-enter";
    src: url("/static/fonts/las-enter.ttf");
}

@font-face {
    font-family: "marquee-moon";
    src: url("/static/fonts/marquee-moon.ttf");
}

@font-face {
    font-family: "neon-tubes2";
    src: url("/static/fonts/neon-tubes2.otf");
}

@font-face {
    font-family: "spongy";
    src: url("/static/fonts/spongy.ttf");
}

.container {
    display: flex;
    flex-direction: row;
}

.margin {
    &--x {
        @media only screen and (min-width: 600px) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

.width {
    &--half {
        width: 50%;
    }
}

.image-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wall-writing {
    top: 20%;
    position: absolute;
    color: white;
    margin: auto;
}

.color-sample {
    margin: 0.25rem 0.5rem 0.25rem 0.2rem;
    border-radius: 20%;
    display: inline-block;
    color: #fff;

    border: 0.1rem solid #2e2e2e26;
    height: 1.3rem;
    width: 1.3rem;
}

.width {
    &--100 {
        width: 100%;
    }
}

.input-range {
    padding: 10px 5px;
}

.text-size--large {
    font-size: 2rem;
}

.color-list {
    input:checked~.color-sample {
        background: #ffffff;
        border: 0.5rem solid #3b87fd;
        height: 0.5rem;
        width: 0.5rem;
    }

    input[type="radio"] {
        display: none;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Loading Icon
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

// END Loading Icon


.hidden {
    display: none;
}